<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TallerDos</title>
    <link rel="stylesheet" type="text/css" href="/css/inicio.css">
</head>
<body>
    <div class="sorters ">
        <h3 class="titleSort">Sort by</h3>
        <div class="sortbyColor">
            <h3 class="titleSort">Color</h3>
            <div class="colors">
<a href="/?color=Gris">
                <div  class="selectorColor gris">

                </div>
            </a>
            <a href="/?color=Verde">
                <div  class="selectorColor verde">

                </div>
            </a>
            <a href="/?color=Azul">
                <div  class="selectorColor azul">

                </div>
            </a>
            <a href="/?color=Amarillo">
                <div  class="selectorColor amarillo">

                </div>
            </a>
            <a href="/?color=Rosado">
                <div  class="selectorColor rosado">

                </div>
            </a>
            <a href="/?color=Negro">
                <div  class="selectorColor negro">

                </div>
            </a>
            </div>
            
            
        </div>
    </div>

       {{#each productos}}
            <div class="producto" color="{{color}}">
                <a href="/productos/{{name}}">
                    <img src="{{imagen}}" alt="{{name}}">
                </a><button> &#9951; ${{precio}}</button>
            </div>    
       {{/each}}
    <!-- imagen, direccion : fidget-rosa-->
</body>
</html>