<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TallerDos</title>
    <link rel="stylesheet" type="text/css" href="/css/inicio.css">
    <link rel="stylesheet" type="text/css" href="/css/nav.css">
</head>
<body>
    <h4><span class="carrito">0</span></h4>
    <header>
        
        <div class="nav">
            <a href="" class="home">
                <img src="img/logo.png" width="150px" alt="">
            </a>

            <a href="" class="menu">Fidget Cubes</a>
            <a href="" class="menu">Fidget Spinners</a>
            <a href="" class="menu">Shop</a>
            <a href="" class="menu">Contact Us</a>

            <a href="" class="carro">
                <img src="img/iconocar.png" width="40px" alt="">
            </a>
        </div>
    </header>

    <div class="sorters">
                
        <h3 class="titleSort">Filter by</h3>
        <div class="sortby colorSort">
            <h3 class="titleSort">Color</h3>
            <div class="colors">



            <a href="/?color=Gris">
                <div  class="selectorColor gris">

                </div>
            </a>
            <a href="/?color=Verde">
                <div  class="selectorColor verde">

                </div>
            </a>
            <a href="/?color=Azul">
                <div  class="selectorColor azul">

                </div>
            </a>
            <a href="/?color=Amarillo">
                <div  class="selectorColor amarillo">

                </div>
            </a>
            <a href="/?color=Rosa">
                <div  class="selectorColor rosa">

                </div>
            </a>
            <a href="/?color=Negro">
                <div  class="selectorColor negro">

                </div>
            </a>
            </div>
            
            
        </div>
        
        <div class="sortby priceSort">
            <h3 class="titleSort">Price</h3>
            <a href="/?precio=9.95&precio=19.95"><h2>9.95 - 19.95</h2></a>
            <a href="/?precio=19.95&precio=29.95"><h2>19.95 - 29.95</h2></a>
            <a href="/?precio=29.95&precio=4999"><h2>29.95...+</h2></a>
        </div>
        <div class="sortby sideSort">
            <h3 class="titleSort">Sides</h3>
            <a href="/?lados=0"><h2>0</h2></a>
            <a href="/?lados=6"><h2>6</h2></a>
            <a href="/?lados=12"><h2>12</h2></a>
        </div>

    </div>
    
    <div class="productosContainer">
    {{#each productos}}
    
    <div class="productoContainer">
        <div class="algo" 
            data-id="{{this._id}}">
            <div class="producto" color="{{color}}" >
                <a href="/productos/{{direccion}}">
                    <img src="{{image}}" alt="{{name}}">
                </a>
                
                <button class="agregar"> &#9951; ${{precio}}</button>

            </div>
        </div>        
    </div>
   
    {{/each}}

    </div>
    <script src="js/cliente.js"></script>
    <script src="js/productosfidget.js"></script>

</body>
</html>