<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="/css/nav.css">
    <link rel="stylesheet" type="text/css" href="/css/vista_producto.css">
    <title>{{fidget.name}}</title>
</head>
<header>

    <div class="nav">
        <a href="" class="home">
            <img src="/img/logo.png" width="150px" alt="">
        </a>

        <a href="" class="menu">Fidget Cubes</a>
        <a href="" class="menu">Fidget Spinners</a>
        <a href="" class="menu">Shop</a>
        <a href="" class="menu">Contact Us</a>

        <a href="" class="carrito">
            <img src="/img/iconocar.png" width="40px" alt="">
        </a>
    </div>
</header>

<body>

    
    <div class="visualizacionProducto">
        <div class="info">
            
            <h1>{{fidget.name}}</h1>
            <p>${{fidget.precio}}</p>
            <p>Color:{{fidget.color}}</p>
            <p>Lados:{{fidget.lados}}</p>
            <p>An unusually addicting, high-quality desk toy designed to help you focus. Fidget at work, in class and at home in style. Fidget Cube has six sides. Each side features something to fidget with: Click. Glide. Flip. Breathe. Roll. Spin.</p>
            </a><button> Add to car </button>
            
        </div>
        
        <div class="imagen">
            <h1>FIDGET•FIDGET•FIDGET•FIDGE•FIDGE•</br>FIDGET•FIDGET•FIDGET•FIDGE•FIDGE•</br>FIDGET•FIDGET•FIDGET•FIDGE•FIDGE•</br>FIDGET•FIDGET•FIDGET•FIDGE•FIDGE•</br>FIDGET•FIDGET•FIDGET•FIDGE•FIDGE•</br>FIDGET•FIDGET•FIDGET•FIDGE•FIDGE•</br>FIDGET•FIDGET•FIDGET•FIDGE•FIDGE•</br>FIDGET•FIDGET•FIDGET•FIDGE•FIDGE•</br>FIDGET•FIDGET•FIDGET•FIDGE•FIDGE•</br>FIDGET•FIDGET•FIDGET•FIDGE•FIDGE•</br>FIDGET•FIDGET•FIDGET•FIDGE•FIDGE•</br>FIDGET•FIDGET•FIDGET•FIDGE•FIDGE•</br>FIDGET•FIDGET•FIDGET•FIDGE•FIDGE•</br>FIDGET•FIDGET•FIDGET•FIDGE•FIDGE•</br>FIDGET•FIDGET•FIDGET•FIDGE•FIDGE•</br></h1>
            <img src="{{fidget.image}}" alt=""> 
            
        </div>
    </div>

</body>

</html>